.container {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.calcBottom {
    display: flex;
    flex-direction: row;
}

.numbers {
    border: 1px solid purple;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.calculationButtons {
    width: 100px;
    height: 500px;
}