.Display {
    background-color: black;
    color: white;
    width: 400px;
    height: 100px;
    text-align: right;
    font-size: 70px;
    padding: 3% 0 0 0;
}

/* number buttons */
.numButtons {
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 0 12%;
    font-size: 50px;
}

/* clear and 0 buttons */
.action {
    width: 200px;
    height: 100px;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 300px;
    padding: 0 0 0 12%;
    font-size: 50px;
}

.calc {
    width: 100px;
    height: 100px;
    background-color: rgb(116, 18, 18);
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 30%;
    font-size: 50px;
}